@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

main {
    height:100vh;
}

#hero {
    background-color: black;
}

#image {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transform: scale(0.76);
    top: -1490px;
    left: -300px;
    z-index: 1;
}

.ammonite {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transform: scale(0.08);
    top: -520px;
    left: -820px;
    z-index: 0;
}

h1, p {
    text-align: center;
    color: white;
}

h1 {
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    z-index: 0;
    top: -1050px;
    left: 276px;
}

#img-div {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#img-caption {
    display: inline-block;
    font-weight: 300;
    font-size: 30px;
    transform: scale(0.76);
    padding-bottom: 40px;
    width: 100%;
    text-align: right;

}

#tribute-info {
    display: inline-block;
    font-weight: 200;
    font-style: italic;
    opacity: 80%;
    width: 100%;
    text-align: right;

}

#tray {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -2088px;
    left: 471px;
    z-index: 0;
}

#desc {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -2210px;
    left: -250px;
    z-index: 0;
}

#keywords {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -2295px;
    left: -540px;
    z-index: 2;
    font-size: 40px;
}

.title {
    font-family: 'Poppins', sans-serif;
}

a:not(#logo-link) {
    text-decoration: none;
    color: #ffffff;
    opacity: 50%;
}

a:not(#logo-link):hover {
    color: white;
    opacity: 100%;
}

#menu {
    color: white;
    font-size: 20px;
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
    top: -2160px;
    left: 925px;
    z-index: 0; 
}

#tl-title {
    color: white;
    text-align: center;
    font-size: 80px;
    z-index: 1;
    top: 100px;
}

#timeline {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -1800px;
    left: 0px;
    z-index: 0;
    font-size: 18px;
}

#list {
    color: white;
    font-weight: 300;
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    top: 80px;
    left: 4px;
    list-style-type: none;
    text-align: center;
}

li {
    margin-bottom: 30px;
}

#short-film {
    position: relative;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    top: -1500px;
}

.video {
    position: absolute;
    margin: auto;
    top: 22vw;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#quotes {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -900px;
    left: 0px;
    z-index: 0;
    font-size: 18px;
    padding: 6em;   
}

#quote-text {
    text-align: center;
    padding: 4em;
    font-weight: 300;
}    

#tribute-link {
    text-decoration: none;
    color: white;
    padding-bottom: 6em;
}

#resources {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -900px;
    left: 0px;
    z-index: 0;
    font-size: 18px;
    padding: 6em;   
    text-align: center;
}

.resources {
    padding: 4em;
}

