@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

#hero {
    background-color: black;
}

#image {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transform: scale(0.76);
    top: -1490px;
    left: -300px;
    z-index: 1;
}

.ammonite {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transform: scale(0.08);
    top: -520px;
    left: -820px;
    z-index: 0;
}

h1, p {
    text-align: center;
    color: white;
}

h1 {
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    z-index: 0;
    top: -1050px;
    left: 276px;
}

#img-div {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#img-caption {
    display: inline-block;
    font-weight: 300;
    font-size: 30px;
    transform: scale(0.76);
    padding-bottom: 40px;
    width: 100%;
    text-align: right;

}

#tribute-info {
    display: inline-block;
    font-weight: 200;
    font-style: italic;
    opacity: 80%;
    width: 100%;
    text-align: right;

}

#tray {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -2088px;
    left: 471px;
    z-index: 0;
}

#desc {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -2210px;
    left: -250px;
    z-index: 0;
}

#keywords {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -2295px;
    left: -540px;
    z-index: 2;
    font-size: 40px;
}

.title {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
    opacity: 50%;
}

a:hover {
    color: white;
    opacity: 100%;
}

#menu {
    color: white;
    font-size: 20px;
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
    top: -2160px;
    left: 925px;
    z-index: 0; 
}

#tl-title {
    color: white;
    text-align: center;
    font-size: 80px;
    z-index: 1;
    top: 100px;
}

#timeline {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: -1950px;
    left: 0px;
    z-index: 0;
    font-size: 18px;
}

.timeline {
    margin: 5em auto;
    max-width: 34.15em;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    font-weight: 200;
}

.checkpoint h2 {
    opacity: 50%;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}

.checkpoint h2:hover {
    color: white;
    opacity: 100%;
    cursor: default;
}

.checkpoint div {
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint p {
    line-height: 27px;
    color: #ccc;
}

.checkpoint:nth-child(odd) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before, .checkpoint:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

.checkpoint:nth-child(odd) div::before, .checkpoint:nth-child(even) div::before {
    content: '';
    background: #fff;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

.timeline {
    width: 80vw;
}

.timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.timeline .checkpoint::before {
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
}

.timeline .checkpoint div::before {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
}